@import './style.css';

.about {
    max-width: 1000px;
    margin: 0 auto;
}

.about__body {
    padding-left: 1em;
    line-height: 1.5;
    max-width: 700px;
}

.section__subtitle--about {
    margin: 0 auto;
    width: 100%;
}

.about__img {
    border-radius: 2em;
    max-width: 90%;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.8), 0 0 15px 1px rgba(0, 0, 0, 0.4);
    margin: 1.5em auto;

}

.about__social-media{
    margin: 1em auto;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about__social-media--link{
    padding: 1em 0 0 1em;
    font-size: 1.5rem;
}

.about__icon {
    background: rgba(255,255,255, 0.2);
    border-radius: 50%;
    padding: .3em;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.8), 0 0 15px 1px rgba(0, 0, 0, 0.4);
    transform: scale(1);
    transition: all 500ms ease-in-out;
}

.about__icon:hover,
.about__icon:focus {
    transform: scale(1.2) rotate(360deg);
}

.about__social-media--link .fa-twitter:hover,
.about__social-media--link .fa-twitter:focus {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4), 0 0 30px 2px rgba(29, 161, 242, 1);
}

.about__social-media--link .fa-linkedin-in:hover,
.about__social-media--link .fa-linkedin-in:focus {
     box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4), 0 0 30px 2px rgba(0, 119, 181, 1);
}

.about__social-media--link .fa-github:hover,
.about__social-media--link .fa-github:focus {
     box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4), 0 0 30px 2px rgba(110, 84, 148, 1);
}

.about__social-media--link .fa-codepen:hover,
.about__social-media--link .fa-codepen:focus {
     box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4), 0 0 30px 2px rgba(225, 226, 226, 1);
}



@media (min-width: 55em){
    .about {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }
    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
        margin: 0;
    }

    .about__img {
        grid-area: img;
        position: relative;
        z-index: 2;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 70em){
    .about__img {
        min-width: 20em;
        height: 100%;
        object-fit: cover;
    }
    .section__subtitle--about {
        width: calc(100% + 8em);
    }
}